<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="LogOnConsole" value="true"/>
    <add key="CellinxActiveX" value="127.0.0.1"/>
    <add key="UtisTargetIPAddress" value="172.16.122.54"/>
    <add key="UtisTargetPort" value="5501"/>-->
    <add key="ServicePort" value="80"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
